body {
    background: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26pt;
    text-align: center;
    color: goldenrod;
    padding-bottom: 2px;
    padding-top: 10px;
}

.instructions {
    color: whitesmoke; 
    text-align: center;
    font-size: 16pt;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.Miner {
    color: whitesmoke;
    float: right;
    margin-right: 160px;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 14pt;
    background-color: #5c2bab;
}

#pic {
    width: 655px;
    margin: 50px;
    float: left;
}

.gems {
    float: right;
    margin-top: -152px;
    /* margin-left: 435px; */
    /* margin-right: 45px; */
    margin: 78px;
    background-color: #373738;
    padding: 10px;
}

#gone {
    width: 100px;
    height: 60px;
    margin-top: 10px;
    margin-left: 12px;
}

#gtwo {
    width: 100px;
    height: 70px;
    margin-left: 12px;
}

#gthree {
    width: 100px;
    height: 70px;
    margin-left: 12px;
}

#gfive {
    width: 100px;
    height: 60px;
    margin-left: 12px;
    padding-right: 7px;
}

/* /* @media only screen and (max-width: 980px){
  .instructions {
      width: 88%;
  }
  .Miner {
      /* width: 92%;
      text-align: center; */
      /* margin-right: 80px;
  }
  .picture {
      width: 92%;
      margin-right: 30px;
  }
  .gems {
    margin-left: 654px;
    align-items: center;
  }

  } */